{% extends 'base.html' %}
{% load static %}

{% block page_content %}
{% if not stats %}
{% include 'partials/_start_practicing.html' %}
{% else %}
<main id="dashboard">
  <aside id="nav-dashboard">
    <nav>
      <ul>
        {% for id_, icon, item in sidebar_items %}
        <li id="{{ id_ }}"><i class="fas fa-{{ icon }} has-text-white"></i><span>{{ item }}</span></li>
        {% endfor %}
      </ul>
    </nav>
  </aside>
  <div>
  <div id="dashboard__practice-container">
    <canvas id="dashboard__practice-chart"></canvas>
  </div>
  <table id="dashboard__table-statistics" class="table is-hoverable is-fullwidth is-bordered" style="display: none;">
    <thead>
      <th>Statistic</th>
      <th>Value</th>
    </thead>
    <tbody>
      {% for name, value in stats_table_items %}
      <tr>
        <td>{{ name }}</td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</main>
<script src="{% static 'bundles/dashboard.js' %}"></script>
<script defer>document.addEventListener('DOMContentLoaded', () => setupDashboard({{ datasets_json|safe }}, {{ dates_json|safe }}))</script>
{% endif %}
{% endblock %}
