<div id="modal-export-practices" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Export Your Practices</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <form id="form-export-practices" method="post">
      {% csrf_token %}
      <section class="modal-card-body is-clipped">
        <div class="dropdown-container">
          {{ filetype_form }}
        </div>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-fullwidth">Cancel</a>
          <button id="submit-export" type="submit" class='button is-info is-fullwidth'>Send</button>
      </footer>
    </form>
  </div>
</div>
<script>
  window.onload = () => {
    document.getElementById('form-export-practices').addEventListener('submit-export', () => {
      toast({
        'message': 'We are exporting your practices. Please wait.',
        'duration': 3000,
        'type': 'is-info',
        'animate': {'in': 'fadeIn', 'out': 'fadeOut'}
      })
    })
  }

  document.addEventListener('DOMContentLoaded', () => {
    const searchableDropdown = new SearchableDropdown('id_filetype');
    searchableDropdown.createDropdown('Search for a format...');

    document.getElementById('submit-export').addEventListener('click', (event) => {
      event.preventDefault();

      const xhr = new XMLHttpRequest()
      xhr.open('POST', "{{ url_export_practices }}");
      const formData = new FormData(document.getElementById('form-export-practices'));
      formData.set('file_type', document.getElementById('id_filetype').value);
      xhr.send(formData);
    });
  })
</script>
