{% load static %}

<div id="modal-export-practices" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Export Your Practices</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <form id="form-export-practices" method="post">
      {% csrf_token %}
      <section class="modal-card-body is-clipped">
        <div class="dropdown-container">
          {{ filetype_form }}
        </div>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-fullwidth">Cancel</a>
          <button id="submit-export" type="submit" class='button is-info is-fullwidth'>Send</button>
      </footer>
    </form>
  </div>
</div>
<script src="{% static 'bundles/dialog_export_practice.js' %}"></script>
<script defer>
document.addEventListener('DOMContentLoaded', () => setUpExportPractice("{{ url_export_practices }}"));
</script>
