<div id="modal-practice-tools" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-white-bis has-text-centered">
      <p class="modal-card-title">Practice Tools</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child">
                <p class="subtitle has-text-centered no-margin-bottom">Metronome</p>
                <div class="content">
                  <div id="metronome-container">
                    <div id="metronome-visuals">
                      <div id="metronome-signature-2/4" class="metronome-signature-container hide">
                        <div>1</div>
                        <div>2</div>
                      </div>
                      <div id="metronome-signature-3/4" class="metronome-signature-container hide">
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                      </div>
                      <div id="metronome-signature-4/4" class="metronome-signature-container">
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                      </div>
                      <div id="metronome-signature-6/8" class="metronome-signature-container hide">
                        <div>1</div>
                        <div>2</div>
                      </div>
                      <div id="metronome-signature-9/8" class="metronome-signature-container hide">
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                      </div>
                      <div id="metronome-signature-12/8" class="metronome-signature-container hide">
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                      </div>
                    </div>
                    <div id="metronome-input">
                      <div class="field is-horizontal">
                        <div class="field-label is-normal text-align-left">
                          <label class="label">Bar:</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input id="metronome-bar-number" class="input is-rounded" type="text" value="1" readonly>
                            </p>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="field is-horizontal fullwidth">
                        <div class="field-label is-normal">
                          <label class="label">Tempo:</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input id="metronome-tempo" class="input is-rounded" max="200" min="20" step="1" type="number" value="60">
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="field is-horizontal fullwidth">
                        <div class="field-label is-normal">
                          <label class="label">Signature:</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <select id="metronome-signature" class="fullwidth">
                                {% for signature in signatures %}
                                <option value="{{ signature }}">{{ signature }}</option>
                                {% endfor %}
                              </select>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="field is-horizontal fullwidth">
                        <div class="field-label is-normal">
                          <label class="label">Subdivision:</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <select id="metronome-subdivision" class="fullwidth">
                                {% for value, division in divisions %}
                                <option value="{{ value }}">{{ division }}</option>
                                {% endfor %}
                              </select>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="metronome-actions" class="buttons are-medium">
                      <button id="metronome-start" class="button is-link is-fullwidth">Start</button>
                      <button id="metronome-resume" class="button is-link is-fullwidth hide">Resume</button>
                      <button id="metronome-pause" class="button is-link is-fullwidth hide">Pause</button>
                      <button id="metronome-stop" class="button is-warning is-fullwidth hide">Stop</button>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="vl"></div>
        <hr id="practice-tools-mobile-hr">
        <div class="tile is-parent">
          <article class="tile is-child">
            <div class="content">
              <p class="subtitle has-text-centered">Timer</p>
              <div class="content">
                <div id="timer-container">
                  <div id="timer-input">
                    {% for label, id, max, min, value in timer_components %}
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label class="label">{{ label }}</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <p class="control">
                            <input id="timer-{{ id }}" class="input is-rounded" max="{{ max }}" min="{{ min }}" step="1" type="number" value="{{ value }}">
                          </p>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <p id="timer-countdown" class="subtitle is-1 has-text-centered hide">
                    <span id="timer-hours">0</span>h
                    <span id="timer-minutes">5</span>m
                    <span id="timer-seconds">0</span>s
                  </p>
                </div>
                <div id="practice-timers-actions" class="buttons are-medium">
                  <button id="timer-start" class="button is-link is-fullwidth">Start</button>
                  <button id="timer-stop" class="button is-warning is-fullwidth hide">Stop</button>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="https://colxi.info/musical-timer/src/main.js" type="module"></script>
