<article id="gdpr-notice" class="message is-centered is-medium animated bounceInDown" style="display: none;">
  <div class="message-header title is-5">
    <p><span><i class = "fas fa-cookie-bite"></i>&nbsp; Use of Cookies</span></p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <div class="field">
      <p class="control">We use our own cookies to improve your experience and our services by analyzing how you use our website.</p>
    </div>
    <div class="field is-grouped">
      <p class="control">
        <a href="/privacy#privacy-cookies" class="button is-link is-rounded is-fullwidth is-medium" target="_blank">More info</a>
      </p>
      <p class="control">
        <a id="gdpr-button" class="button is-success is-rounded is-medium">Accept</a>
      </p>
    </div>
  </div>
</article>
