<section class="section">
  <div id="dashboard-no-practices" class="columns is-cented">
    <div class="column is-3 is-two-thirds-tablet is-half-desktop is-one-third-widescreen">
      <div class="container is-fluid">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Uh oh!</p>
          </header>
          <div class="card-content">
            <div class="content">
              <p>You have not practiced yet.</p>
            </div>
          </div>
          <footer class="card-footer">
            <a class="button is-link card-footer-item" href="{{ url_for('practice.new') }}">Start practicing</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
