amqp==2.5.2
anyjson==0.3.3
asgiref==3.2.3
attrs==19.3.0
billiard==3.6.1.0
celery==4.4.0
Click==7.0
coverage==5.0.3
defusedxml==0.6.0
Django==3.0.2
django-appconf==1.0.3
django-extensions==2.2.6
django-rq==2.2.0
django-webpack-loader==0.6.0
entrypoints==0.3
flake8==3.7.9
kombu==4.6.7
lxml==4.4.2
mccabe==0.6.1
more-itertools==8.1.0
mysqlclient==1.4.6
numpy==1.18.1
odfpy==1.4.0
ordered-set==3.1.1
packaging==20.0
pandas==0.25.3
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
PyLaTeX==1.3.1
pyparsing==2.4.6
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.10.4
pytz==2019.3
redis==3.3.11
rq==1.2.0
six==1.13.0
sqlparse==0.3.0
termcolor==1.1.0
vine==1.3.0
wcwidth==0.1.8
xlrd==1.2.0
XlsxWriter==1.2.7
