{% extends 'base.html' %}
{% load static %}

{% block page_content %}
{% if page_obj.paginator.count %}
<section class="section full-height" id="practice-list-grid">
  {% include 'partials/_practice.html' %}
</section>
<section id="practice-list-actions">
  <div class="practice-list-action">
    <a class="button is-fullwidth" href="{% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" {% if not page_obj.has_previous %}disabled{% endif %}>
      <i class="fas fa-long-arrow-alt-left"></i>&nbsp;More Recent
    </a>
  </div>
  <div class="practice-list-action">
    <a class="button is-fullwidth" href="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}" {% if not page_obj.has_next %}disabled{% endif %}>
      Older&nbsp;<i class="fas fa-long-arrow-alt-right"></i>
    </a>
  </div>
</section>
{% else %}
{% include 'partials/_start_practicing.html' %}
{% endif %}
<script src="{% static 'bundles/practice_list.js' %}"></script>
<script>
const practiceList = new PracticeList();
document.addEventListener('DOMContentLoaded', () => practiceList.init())
</script>
{% endblock %}
