{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<div class="calendar-container">
  {{ calendar }}
  <div id="calendar-buttons" class="field is-grouped">
    <p class="control">
      <a id="button-month-previous" href="{% url 'app:practice.list_past_practices' %}" class="button is-large is-link is-light">
        <span class="icon"><i class="far fa-arrow-alt-circle-left"></i></span><span>Previous Month</span>
      </a>
    </p>
    <p class="control">
      <a id="button-month-next" href="{% url 'app:practice.list_past_practices' %}" class="button is-large is-link is-light" >
        <span>Next Month</span><span class="icon"><i class="far fa-arrow-alt-circle-right"></i></span>
      </a>
    </p>
  </div>
</div>
<script src="{% static 'bundles/practice_list.js' %}"></script>
<script>
const practiceList = new PracticeList("{{ url_practice_list }}");
document.addEventListener('DOMContentLoaded', () => practiceList.init())
</script>
{% endblock %}
