{% extends 'base.html' %}

{% block page_content %}
<section class="full-height">
  <div class="columns is-centered is-vcentered full-height fit-mobile">
    <div class="column is-4">
      <div class="container">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Reset Password</p>
          </header>
          <form method="post">
            <div class="card-content">
              {% csrf_token %}
              <div class="content">
                <p class="subtitle is-6">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                {% include 'snippets/_form_field.html' with field=form.email %}
              </div>
            </div>
          </div>
          <button id="submit" name="Submit" value="Password Reset Request" type="submit" class='button is-primary is-fullwidth'>Request Password Reset</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
