{% extends 'base.html' %}
{% import 'macros/check_password.html' as check %}
{% import 'macros/forms.html' as forms %}

{% block page_content %}
<section class="full-height">
  <div class="columns is-centered is-vcentered full-height fit-mobile">
    <div class="column is-3">
      <div class="container">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Reset Your Password</p>
          </header>
          <form method="post">
            <div class="card-content">
              <div class="content">
                {{ form.hidden_tag() }}
                {{ forms.render_field(form.password, type='password') }}
                {{ forms.render_field(form.confirm, type='password') }}
                {{ check.passwords_match('password', 'confirm') }}
              </div>
            </div>
          </div>
          {{ forms.render_submit(form, classes='is-primary is-fullwidth') }}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
