{% extends 'base.html' %}

{% block page_content %}
<section class="full-height">
  <div class="columns is-centered is-vcentered full-height fit-mobile">
    <div class="column is-3">
      <div class="container">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Reset Your Password</p>
          </header>
          <form method="post">
            {% csrf_token %}
            <div class="card-content">
              <div class="content">
                {% include 'snippets/_form_field.html' with field=form.password1 %}
                {% include 'snippets/_form_field.html' with field=form.password2 %}
              </div>
            </div>
          </div>
          <button id="submit" name="Submit" value="Reset Password" type="submit" class='button is-primary is-fullwidth'>Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
