* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

main {
  min-height: 100%;
}

.page-content {
  min-height: 100vh;
  margin-bottom: -17rem;
}

.page-content:after {
  content: "";
  display: block;
}

#site-footer {
  clear: both;
  position: relative;
  height: 17rem;
  margin-top: 17rem;
}

.border-left {
  border-left: 1px dotted #212121;
}

.float-right {
  float: right;
}

.full-height {
  height: 100vh;
}

.footer {
  height: 17rem;
}

.fullwidth {
  width: 100%;
}

.hide {
  display: none !important;
}

.padding-bottom3 {
  padding-bottom: 3rem;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.small-margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom025 {
  margin-bottom: 0.25rem !important;
}

.cursor-default {
  cursor: default !important;
}

.big-input-checkbox {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
}

.no-style ul {
  list-style: none !important;
}

.navbar-burger span:nth-child(3) {
  top: calc(30px);
}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border : 0px;
}

a {
  outline: none;
}

.center {
  text-align: center;
}

.text-align-left {
  text-align: left !important;
}

.underlined {
  text-decoration: underline;
}

.overflow {
  overflow: visible !important;
}

.no-decoration a {
  text-decoration: none;
}

.display-block {
  display: block !important;
}

.display-flex {
  display: flex;
}

.clickable-area {
  height: 75%;
  box-sizing: border-box;
}

.no-padding {
  padding: 0 !important;
}

.frame {
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}

.no-select, i {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select {
  height: 2rem;
}

#gdpr-notice {
  position: fixed;
  right: 1%;
  bottom: 0%;
  z-index: 20;
  width: 28rem;
  box-shadow: 0px 0rem 4rem #ffda79;
  border-radius: 3rem;
}

#gdpr-notice > div {
  border-radius: 2rem 2rem 0rem 0rem;
}

#gdpr-notice div:last-of-type {
  padding-top: 0;
}

#gdpr-notice div.field:nth-child(2) {
 display: flex;
}

#gdpr-notice div.field:nth-child(2) > p:nth-child(1) {
 flex: 1;
}

.is-big-bottom-border-radius {
  border-radius: 0 0 30rem 30rem;
}

.border-radius-5 {
  border-radius: 5rem;
}

.ul-default-cursor li a {
  cursor: default !important;
}

.vl {
  border-left: 4px solid #2c3e50;
}

.home-card-description {
  font-size: 1.1rem;
  text-align: center;
}

#notification-bell .badge {
  z-index: 10;
  font-size: 0.7rem;
  position: absolute;
  top: 2px;
  right: 6px;
  padding: 1px 6px;
  border-radius: 50%;
  background-color: #e17055;
  color: white;
}

#notifications {
  left: -6rem;
  padding-top: 0;
  min-width: 16rem;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #212121;
  left: 7rem;
  position: absolute;
  top: -0.5rem;
}

#notifications .card-content {
  padding: 0;
}

#notifications li:hover {
  background-color: rgba(236, 240, 241, 0.4);
}


@media (min-width: 320px) and (max-width: 1024px) {
  #gdpr-notice {
    width: 98vw;
    font-size: 0.8rem;
  }
  #notifications {
    left: 0;
  }
  #notification-bell .arrow-up {
    left: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .fit-mobile {
    margin: 1rem !important;
  }
  .fit-mobile div.border-left {
    border-left: none;
  }
}
